.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.form > .formHeader {
  font-family: "Jost", sans-serif;
  color: var(--light);
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: whitesmoke;
}

input::placeholder {
  font-family: "Jost", sans-serif;
}

.submitBtn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: var(--red);
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--light);
  cursor: pointer;
  text-transform: uppercase;
}

.submitBtn:hover {
  background-color: var(--lightblue);
  color: var(--iframe);
}

.forgotPassword {
  text-align: center;
  margin-top: 10px;
}
