.containerForm {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: whitesmoke;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

.links{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.resetSubmitBtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: red; /* Green */
  color: white;
  font-size: 1rem;
  cursor: pointer;
}