.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: whitesmoke;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

.btnSubmit {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #49994b;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}
