.container {
  max-width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.containerForm {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Jost", sans-serif;
  /* font-size: 2rem; */
  margin-bottom: 1rem;
}


