.container {
  max-width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.containerForm {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.deleteProfileLink {
  margin: 30px auto;
  padding: 10px 50px;
  width: 100%;
  max-width: 400px;
  background-color: rgb(148, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
}

.deleteLink {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
